@layout AnonymousLayout

@page "/katalog"

@inject HttpClient Http
@inject IMatToaster Toaster

@using SiUpin.Shared.UphProduks.Queries.GetAllUphProduk
@using SiUpin.Shared.Common.ApiEnvelopes

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-align-middle mat-layout-grid-cell-span-4">
            <MatH4><strong>Katalog Produk UPH</strong></MatH4>
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2"></div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-align-right mat-layout-grid-cell-span-6">
            <MatIcon>
                <img src="images/produk_olahan.png" />
            </MatIcon>
        </div>
    </div>
</div>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-align-top mat-layout-grid-cell-span-2 mat-elevation-z3">
            <MatNavMenu>
                <MatTextField @bind-Value="@filterByName" HelperText="@($"Filter: Nama {_kategoryOptionsValue?.Name}")" Label="@($"Cari {_kategoryOptionsValue?.Name}")" Icon="@MatIconNames.Search"></MatTextField>
                <MatNavItem><MatIcon Icon="face"></MatIcon>&nbsp; Kategori</MatNavItem>
                <MatList SingleSelection="true">
                    <MatRadioGroup @bind-Value="@kategoryOptionsValue" Items="@kategoryOptions">
                        <ItemTemplate>
                            <div>
                                <MatRadioButton Value="@context">@context.Name</MatRadioButton>
                            </div>
                        </ItemTemplate>
                    </MatRadioGroup>
                </MatList>
            </MatNavMenu>
        </div>

        <div class="mat-layout-grid-cell mat-layout-grid-cell-align-top mat-layout-grid-cell-span-10">
            <div class="mat-layout-grid-inner">

                @if (IsLoading)
                {
                    <MatDialog @bind-IsOpen="IsLoading" CanBeClosed="false">
                        <MatDialog>Please Wait..</MatDialog>
                        <MatDialogContent>
                            <MatProgressBar Indeterminate="true" Closed="!IsLoading"></MatProgressBar>
                        </MatDialogContent>
                    </MatDialog>
                }
                else
                {
                    if (items.Result != null)
                    {
                        foreach (var item in items.Result.Data)
                        {
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                                <MatCard>
                                    <MatCardContent>
                                        <MatCardMedia Wide="true" ImageUrl="@item.UrlOriginPhoto" Style="background-size: 100% 15vw; height: 15vw; object-fit: cover; "></MatCardMedia>
                                        <div class="has-mat-card-content">
                                            <MatSubtitle1 class="has-mat-card-clean-margin">
                                                @item.Name
                                            </MatSubtitle1>
                                            <MatSubtitle2 class="has-mat-card-clean-margin" Style="color: rgb(250, 89, 29);">
                                                @item.Harga
                                            </MatSubtitle2>
                                            <MatCaption class="has-mat-card-clean-margin">
                                                @item.Provinsi
                                            </MatCaption>
                                        </div>
                                    </MatCardContent>
                                </MatCard>
                            </div>
                        }
                    }
                }
            </div>
        </div>

        <div class="mat-layout-grid-cell mat-layout-grid-cell-align-right mat-layout-grid-cell-span-12">
            <MatPaginator Length="totalCount" PageSize="pageSize" Page="OnPage"></MatPaginator>
        </div>
    </div>
</div>

@code
{
    private bool IsLoading = false;

    [Parameter]
    public string KatalogName { get; set; }

    private ApiResponse<GetAllUphProdukResponse> items;

    private int pageSize = Constants.Pagination.PageSize;
    private int pageIndex = 0;
    private int totalCount = 0;

    private string _filterByName = "";
    private string _filterJenisKomoditiID = "";
    private Kategories _kategoryOptionsValue = new Kategories("", "Produk");

    public string filterByName
    {
        get => _filterByName;
        set
        {
            _filterByName = value;

            InvokeAsync(async () => { await GetPaginateData(pageSize, 1, _filterByName, _filterJenisKomoditiID); });

            this.StateHasChanged();
        }
    }

    public Kategories kategoryOptionsValue
    {
        get => _kategoryOptionsValue;
        set
        {
            _kategoryOptionsValue = value;
            _filterJenisKomoditiID = _kategoryOptionsValue.ID;

            InvokeAsync(async () => { await OnClickCategory(_kategoryOptionsValue.ID); });

            this.StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await GetPaginateData();
    }

    private async Task OnPage(MatPaginatorPageEvent e)
    {
        pageSize = e.PageSize;
        pageIndex = e.PageIndex;

        await GetPaginateData(pageSize, pageIndex + 1, _filterByName, _filterJenisKomoditiID);
    }

    private async Task OnClickCategory(string filterJenisKomoditiID = "")
    {
        _filterJenisKomoditiID = filterJenisKomoditiID;

        pageIndex = 0; // always reset to page 1 when switch between menu

        this.StateHasChanged();

        await GetPaginateData(pageSize, pageIndex + 1, "", _filterJenisKomoditiID);
    }

    private async Task GetPaginateData
        (
            int pageSize = Constants.Pagination.PageSize,
            int pageNumber = Constants.Pagination.PageNumber,
            string filterName = null,
            string filterJenisKomoditiID = ""
        )
    {

        IsLoading = true;

        var client = await Http.PostAsJsonAsync<GetAllUphProdukRequest>(Constants.URI.UphProduk.Paginate, new GetAllUphProdukRequest
        {
            PageSize = pageSize,
            PageNumber = pageNumber,
            FilterByName = filterName ?? "",
            FilterJenisKomoditiID = filterJenisKomoditiID ?? ""
        });

        items = Task.FromResult(await client.Content.ReadFromJsonAsync<ApiResponse<GetAllUphProdukResponse>>()).Result;

        if (items.Status.IsError)
        {
            Toaster.Add(items.Status.Message, MatToastType.Danger);

            IsLoading = false;

            StateHasChanged();
        }
        else
        {
            if (items.Result.Data.Count() > 0)
            {
                totalCount = items.Result.Pagination.TotalCount;

                IsLoading = false;

                StateHasChanged();
            }
            else
            {
                Toaster.Add("Maaf, Data tidak ada", MatToastType.Danger);

                IsLoading = false;

                StateHasChanged();
            }
        }
    }

    public class Kategories
    {
        public string ID { get; set; }
        public string Name { get; set; }

        public override string ToString()
        {
            return Name;
        }

        public Kategories(string id, string name)
        {
            ID = id;
            Name = name;
        }
    }

    private Kategories[] kategoryOptions = new[]
    {
        new Kategories("", "Semua"),
        new Kategories(Constants.JenisKomoditiID.Susu, "Susu"),
        new Kategories(Constants.JenisKomoditiID.Daging, "Daging"),
        new Kategories(Constants.JenisKomoditiID.Unggas, "Unggas"),
        new Kategories(Constants.JenisKomoditiID.HasilTernak, "Hasil Ternak"),
        new Kategories(Constants.JenisKomoditiID.Limbah, "Limbah")
    };
}