@inherits LayoutComponentBase

<CascadingValue Value="this">
    <MatThemeProvider Theme="@theme">
        <TopBar IsMenuClicked="OnMenuClicked" IsAdmin="true" />

        <MatDrawerContainer Style="width: 100vw; height: 100vh;" Class="mat">
            <AuthorizeView>
                <MatHidden Breakpoint="@MatBreakpoint.SM" Direction="@MatHiddenDirection.Up" HiddenChanged="@ModelDrawerHiddenChanged">
                    <ChildContent>
                        <MatDrawer @bind-Opened="@_navMenuOpened" Style="background-color:#fafafa;" Mode="@MatDrawerMode.Modal">
                            <MatAppBarAdjust></MatAppBarAdjust>
                            <NavMenu />
                        </MatDrawer>
                    </ChildContent>
                    <ElseContent>
                        <MatDrawer @bind-Opened="@_navMenuOpened" Style="background-color:#fafafa;" Mode="@MatDrawerMode.Dismissible">
                            <MatAppBarAdjust></MatAppBarAdjust>
                            <NavMenu />
                        </MatDrawer>
                    </ElseContent>
                </MatHidden>
            </AuthorizeView>

            <MatDrawerContent Class="mdc-theme--surface">
                <MatAppBarAdjust></MatAppBarAdjust>
                <div class="body-wrapper mt-3">
                    @Body
                </div>
            </MatDrawerContent>
        </MatDrawerContainer>
    </MatThemeProvider>
</CascadingValue>

@code
{
    private RenderFragment BreadcrumbsPlaceholder;

    public async Task SetBreadcrumbs(RenderFragment breadcrumbsPlaceholder)
    {
        this.BreadcrumbsPlaceholder = breadcrumbsPlaceholder;
        StateHasChanged();

        await Task.CompletedTask;
    }

    public bool _navMenuOpened { get; set; } = true;

    MatTheme theme = new MatTheme()
    {
        Primary = "#1e1e2d",
        Background = MatThemeColors.Grey._100.Value,
        Secondary = MatThemeColors.BlueGrey._500.Value,
        Surface = "#ffffff"
    };

    private void OnMenuClicked()
    {
        _navMenuOpened = !_navMenuOpened;
    }

    protected void ModelDrawerHiddenChanged(bool hidden)
    {
        if (!hidden)
        {
            _navMenuOpened = false;
        }
    }
}
