@inject HttpClient Http
@inject IMatToaster Toaster
@inject AuthenticationStateProvider _authenticationStateProvider

@namespace SiUpin.Pages.Admin.DataMaster.ProdukOlahan

@using SiUpin.Shared.JenisKomiditis.Queries.GetAllJenisKomiditi
@using SiUpin.Shared.JenisKomiditis.Common.GetAllJenisKomiditi

@using SiUpin.Shared.ProdukOlahans.Queries.GetProdukOlahan
@using SiUpin.Shared.ProdukOlahans.Commands.UpdateProdukOlahan
@using SiUpin.Shared.Common.ApiEnvelopes

@if (IsLoading)
{
    <MatDialog @bind-IsOpen="IsLoading" CanBeClosed="false">
        <MatDialog>Please Wait..</MatDialog>
        <MatDialogContent>
            <MatProgressBar Indeterminate="true" Closed="!IsLoading"></MatProgressBar>
        </MatDialogContent>
    </MatDialog>
}
else
{
    <MatDialog @bind-IsOpen="DialogIsOpen" CanBeClosed="false">
        <MatDialogTitle>
            Edit
        </MatDialogTitle>
        <MatDialogContent>
            <EditForm EditContext="_editContext" OnSubmit="HandleSubmit">
                <DataAnnotationsValidator />

                <div class="mat-layout-grid p-0">
                    <div class="mat-layout-grid-inner mt-0">
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                            <MatSelect @bind-Value="Model.JenisKomoditiID" Label="Provinsi">
                                <MatOption TValue="string" Value="@(null)"></MatOption>
                                @if (JenisKomoditis.Count() > 0)
                                    {
                                        foreach (var item in JenisKomoditis)
                                        {
                                        <MatOption TValue="string" Value="@(item.JenisKomoditiID)">@item.Name</MatOption>
                                        }
                                    }
                            </MatSelect>
                            <MatCaption Class="mt-1">
                                <ValidationMessage For="@(() => Model.JenisKomoditiID)" />
                            </MatCaption>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                            <MatTextField @bind-Value="Model.Name" Label="Nama" Required="true" />
                            <MatCaption Class="mt-1">
                                <ValidationMessage For="@(() => Model.Name)" />
                            </MatCaption>
                        </div>
                    </div>
                </div>
            </EditForm>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="CancelClick">Cancel</MatButton>
            <MatButton Raised="true" OnClick="HandleSubmit">Submit</MatButton>
        </MatDialogActions>
    </MatDialog>
}

@code
{
    public string _ID { get; set; }

    [Parameter]
    public string ID
    {
        get => _ID;
        set
        {
            if (_ID != value)
            {
                _ID = value;

                InvokeAsync(async () =>
                {
                    Model = null;
                    Model = new UpdateProdukOlahanRequest();

                    await GetEntityByID();
                });
            }
        }
    }

    [Parameter]
    public bool DialogIsOpen { get; set; } = false;

    [Parameter]
    public EventCallback<bool> DialogIsOpenStatus { get; set; }

    [Parameter]
    public EventCallback<bool> OnSuccessSubmit { get; set; }

    private bool IsLoading = false;

    public UpdateProdukOlahanRequest Model { get; set; } = new UpdateProdukOlahanRequest();
    public GetProdukOlahanResponse Entity { get; set; }
    public ApiResponse<UpdateProdukOlahanResponse> Response { get; set; }

    public IList<JenisKomoditiDTO> JenisKomoditis { get; set; } = new List<JenisKomoditiDTO>();

    private EditContext _editContext;

    public void CancelClick()
    {
        DialogIsOpenStatus.InvokeAsync(false);
    }

    protected override void OnInitialized()
    {
        _editContext = new EditContext(Model);
    }

    private async Task GetEntityByID()
    {
        IsLoading = true;

        _editContext = new EditContext(Model);

        await GetJenisKomoditis();

        Entity = Task.FromResult(await Http.GetFromJsonAsync<ApiResponse<GetProdukOlahanResponse>>($"{Constants.URI.ProdukOlahan.Base}/{ID}")).Result.Result;

        Model.ProdukOlahanID = Entity.ProdukOlahanID;
        Model.JenisKomoditiID = Entity.JenisKomoditiID;
        Model.Name = Entity.Name;

        IsLoading = false;

        StateHasChanged();
    }

    private async Task GetJenisKomoditis()
         => JenisKomoditis = Task.FromResult(await Http.GetFromJsonAsync<ApiResponse<GetAllJenisKomiditiResponse>>(Constants.URI.JenisKomoditi.Base)).Result.Result.JenisKomoditis.ToList();

    private async Task HandleSubmit()
    {
        if (_editContext.Validate())
        {
            IsLoading = true;

            StateHasChanged();

            var client = await Http.PutAsJsonAsync<UpdateProdukOlahanRequest>(Constants.URI.ProdukOlahan.Base, Model);

            Response = Task.FromResult(await client.Content.ReadFromJsonAsync<ApiResponse<UpdateProdukOlahanResponse>>()).Result;

            if (!Response.Status.IsError)
            {
                IsLoading = false;

                await DialogIsOpenStatus.InvokeAsync(false);

                await OnSuccessSubmit.InvokeAsync(true);

                StateHasChanged();
            }
            else
            {
                Toaster.Add(Response.Status.Message, MatToastType.Danger);

                IsLoading = false;
                StateHasChanged();
            }
        }
        else
        {
            _editContext.AddDataAnnotationsValidation();
            Toaster.AddErrors(_editContext.GetValidationMessages());
        }
    }
}
