@inject HttpClient Http
@inject IMatToaster Toaster

@if (IsLoading)
{
    <MatDialog @bind-IsOpen="IsLoading" CanBeClosed="false">
        <MatDialog>Please Wait..</MatDialog>
        <MatDialogContent>
            <MatProgressBar Indeterminate="true" Closed="!IsLoading"></MatProgressBar>
        </MatDialogContent>
    </MatDialog>
}
else
{
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <MatButton Icon="@MatIconNames.Keyboard_arrow_left" OnClick="CancelClick">Kembali</MatButton>
            </div>

            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12 mat-elevation-z3 p-3">
                <MatH6>Pemasaran</MatH6>
                <EditForm EditContext="_editContext">
                    <DataAnnotationsValidator />

                    <div class="mat-layout-grid-inner mt-0">
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                            @if (UphIDandNames.Count > 0)
                            {
                                <MatAutocompleteList FullWidth="true" Items="UphIDandNames.Select(x => x.Name).ToList()"
                                                     TItem="string"
                                                     Label="Pilih UPH"
                                                     OnOpenedChanged="@((stats) =>
                                                                        { if (stats) { IsHidden = true; } else { IsHidden = false; } })"
                                                     @bind-Value="SelectedUph" />
                                <ValidationMessage For="@(() => Model.UphID)" />
                            }
                        </div>
                        @if (!IsHidden)
                        {
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                                @if (Mekanismes.Count() > 0)
                                {
                                    <MatBody1>Mekanisme</MatBody1>

                                    for (int i = 0; i < Mekanismes.Count(); i++)
                                    {
                                        int index = i;

                                        <MatCheckbox TValue="bool"
                                                     Value="Mekanismes[index].IsChoosen"
                                                     ValueExpression="@( () => Mekanismes[index].IsChoosen )"
                                                     ValueChanged="@((e) => { HandleMekanisme(e, index); })" Label="@Mekanismes[index].Name" />
                                        @:&nbsp;

                                        if (Mekanismes[index].IsChoosen)
                                        {
                                            if (Mekanismes[index].Name == "Lainya")
                                            {
                                                <MatTextField @bind-Value="Model.lain" Label="Lainnya" />
                                            }
                                        }
                                    }
                                }
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                                <MatSelect @bind-Value="SelectJangkauanPemasaran" Label="Jangkauan Pemasaran" FullWidth="true">
                                    <MatOption TValue="string" Value="@(null)"></MatOption>
                                    @if (JangkauanPemasarans.Count() > 0)
                                            {
                                                foreach (var item in JangkauanPemasarans)
                                                {
                                            <MatOption TValue="string" Value="@(item)">@item</MatOption>
                                                }
                                            }
                                </MatSelect>
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                                <MatTextField @bind-Value="Model.jml_penjualan" Label="Penjualan" Type="number" Required="true" FullWidth="true" />
                                <MatCaption Class="mt-1">
                                    <ValidationMessage For="@(() => Model.jml_penjualan)" />
                                </MatCaption>
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                                <MatTextField @bind-Value="Model.omset" Label="Omset" Type="number" Required="true" FullWidth="true" />
                                <MatCaption Class="mt-1">
                                    <ValidationMessage For="@(() => Model.omset)" />
                                </MatCaption>
                            </div>
                        }
                    </div>
                </EditForm>
            </div>
            @if (!IsHidden)
            {
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                    <MatButton OnClick="CancelClick">Cancel</MatButton>
                    <MatButton Raised="true" OnClick="HandleSubmit">
                        Submit &nbsp;
                        @if (IsLoadingCircle)
                        {
                            <i class="fas fa-spinner fa-spin"></i>
                        }
                    </MatButton>
                </div>
            }
        </div>
    </div>
}
