@inject HttpClient Http
@inject IMatToaster Toaster
@inject AuthenticationStateProvider _authenticationStateProvider

@namespace SiUpin.Shared.Modal.User

@using SiUpin.Shared.Users.Queries.GetUser
@using SiUpin.Shared.Users.Commands.UpdateUser
@using SiUpin.Shared.Common.ApiEnvelopes

@using SiUpin.Shared.Roles.Queries.GetRoles
@using SiUpin.Shared.Provinsis.Queries.GetProvinsis
@using SiUpin.Shared.Kotas.Queries.GetKotasByProvinsiID
@using SiUpin.Shared.Kecamatans.Queries.GetKecamatansByKotaID
@using SiUpin.Shared.Kelurahans.Queries.GetKelurahansByKecamatanID

@if (IsLoading)
{
    <MatDialog @bind-IsOpen="IsLoading" CanBeClosed="false">
        <MatDialog>Please Wait..</MatDialog>
        <MatDialogContent>
            <MatProgressBar Indeterminate="true" Closed="!IsLoading"></MatProgressBar>
        </MatDialogContent>
    </MatDialog>
}
else
{
    <MatDialog @bind-IsOpen="DialogIsOpen" CanBeClosed="false">
        <MatDialogTitle>
            Edit
        </MatDialogTitle>
        <MatDialogContent>
            <EditForm Model="Model" OnValidSubmit="Submit">
                <DataAnnotationsValidator />

                <div class="mat-layout-grid p-0">
                    <div class="mat-layout-grid-inner mt-0">
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                            <MatTextField @bind-Value="Model.Username" Label="Username" Required="true" />
                            <MatCaption Class="mt-1">
                                <ValidationMessage For="@(() => Model.Username)" />
                            </MatCaption>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                            <MatTextField @bind-Value="Model.Fullname" Label="Full Name" Required="true" />
                            <MatCaption Class="mt-1">
                                <ValidationMessage For="@(() => Model.Fullname)" />
                            </MatCaption>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                            <MatTextField @bind-Value="Model.NIP" Label="NIP" Type="number" />
                            <MatCaption Class="mt-1">
                                <ValidationMessage For="@(() => Model.NIP)" />
                            </MatCaption>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                            <MatTextField @bind-Value="Model.Jabatan" Label="Jabatan" />
                            <MatCaption Class="mt-1">
                                <ValidationMessage For="@(() => Model.Jabatan)" />
                            </MatCaption>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                            <MatTextField @bind-Value="Model.Instansi" Label="Instansi" />
                            <MatCaption Class="mt-1">
                                <ValidationMessage For="@(() => Model.Instansi)" />
                            </MatCaption>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                            <MatTextField @bind-Value="Model.Telepon" Label="Telepon" Type="number" />
                            <MatCaption Class="mt-1">
                                <ValidationMessage For="@(() => Model.Telepon)" />
                            </MatCaption>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                            <MatSelect @bind-Value="SelectRole" Label="Level">
                                <MatOption TValue="string" Value="@(null)"></MatOption>
                                @if (Roles.Count() > 0)
                                    {
                                        foreach (var item in Roles)
                                        {
                                        <MatOption TValue="string" Value="@(item.RoleID)">@item.Name</MatOption>
                                        }
                                    }
                            </MatSelect>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                            <MatSelect @bind-Value="SelectProvinsi" Label="Provinsi">
                                <MatOption TValue="string" Value="@(null)"></MatOption>
                                @if (Provinsis.Count() > 0)
                                    {
                                        foreach (var item in Provinsis)
                                        {
                                        <MatOption TValue="string" Value="@(item.ProvinsiID)">@item.Name</MatOption>
                                        }
                                    }
                            </MatSelect>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                            <MatSelect @bind-Value="SelectKota" Label="Kota">
                                <MatOption TValue="string" Value="@(null)"></MatOption>
                                @if (Kotas.Count() > 0)
                                    {
                                        foreach (var item in Kotas)
                                        {
                                        <MatOption TValue="string" Value="@(item.KotaID)">@item.Name</MatOption>
                                        }
                                    }
                            </MatSelect>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                            <MatSelect @bind-Value="SelectKecamatan" Label="Kecamatan">
                                <MatOption TValue="string" Value="@(null)"></MatOption>
                                @if (Kecamatans.Count() > 0)
                                    {
                                        foreach (var item in Kecamatans)
                                        {
                                        <MatOption TValue="string" Value="@(item.KecamatanID)">@item.Name</MatOption>
                                        }
                                    }
                            </MatSelect>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                            <MatSelect @bind-Value="SelectKelurahan" Label="Kelurahan">
                                <MatOption TValue="string" Value="@(null)"></MatOption>
                                @if (Kelurahans.Count() > 0)
                                    {
                                        foreach (var item in Kelurahans)
                                        {
                                        <MatOption TValue="string" Value="@(item.KelurahanID)">@item.Name</MatOption>
                                        }
                                    }
                            </MatSelect>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                            <MatTextField @bind-Value="Model.Alamat" Label="Alamat" TextArea="true" />
                            <MatCaption Class="mt-1">
                                <ValidationMessage For="@(() => Model.Alamat)" />
                            </MatCaption>
                        </div>
                    </div>
                </div>
            </EditForm>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="CancelClick">Cancel</MatButton>
            <MatButton Raised="true" OnClick="Submit">Submit</MatButton>
        </MatDialogActions>
    </MatDialog>
}

@code
{
    public string _ID { get; set; }

    [Parameter]
    public string ID
    {
        get => _ID;
        set
        {
            if (_ID != value)
            {
                _ID = value;

                InvokeAsync(async () =>
                {
                    Model = null;
                    Model = new UpdateUserRequest();

                    await GetEntityByID();
                    StateHasChanged();
                });
            }
        }
    }

    [Parameter]
    public bool DialogIsOpen { get; set; } = false;

    [Parameter]
    public EventCallback<bool> DialogIsOpenStatus { get; set; }

    [Parameter]
    public EventCallback<bool> OnSuccessSubmit { get; set; }

    private bool IsLoading = false;

    public UpdateUserRequest Model { get; set; } = new UpdateUserRequest();
    public GetUserResponse Entity { get; set; }
    public ApiResponse<UpdateUserResponse> Response { get; set; }

    public string SelectRole
    {
        get => Model.RoleID;
        set => Model.RoleID = value;
    }

    public string SelectProvinsi
    {
        get => Model.ProvinsiID;
        set
        {
            Model.ProvinsiID = value;
            InvokeAsync(async () =>
            {
                await GetKotasByProvinsiID(value);
                StateHasChanged();
            });
        }
    }

    public string SelectKota
    {
        get => Model.KotaID;
        set
        {
            Model.KotaID = value;
            InvokeAsync(async () =>
            {
                await GetKecamatansByKotaID(value);
                StateHasChanged();
            });
        }
    }

    public string SelectKecamatan
    {
        get => Model.KecamatanID;
        set
        {
            Model.KecamatanID = value;
            InvokeAsync(async () =>
            {
                await GetKelurahansByKecamatanID(value);
                StateHasChanged();
            });
        }
    }

    public string SelectKelurahan
    {
        get => Model.KelurahanID;
        set => Model.KelurahanID = value;
    }

    public IList<RoleDTO> Roles { get; set; } = new List<RoleDTO>();
    public IList<ProvinsiDTO> Provinsis { get; set; } = new List<ProvinsiDTO>();
    public IList<KotaDTO> Kotas { get; set; } = new List<KotaDTO>();
    public IList<KecamatanDTO> Kecamatans { get; set; } = new List<KecamatanDTO>();
    public IList<KelurahanDTO> Kelurahans { get; set; } = new List<KelurahanDTO>();

    public void CancelClick() => DialogIsOpenStatus.InvokeAsync(false);

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
        StateHasChanged();
    }

    private async Task LoadData()
    {
        await GetRoles();
        await GetProvinsis();
    }

    private async Task GetRoles()
    => Roles = Task.FromResult(await Http.GetFromJsonAsync<ApiResponse<GetRolesResponse>>(Constants.URI.User.GetRoles)).Result.Result.Data.ToList();

    private async Task GetProvinsis()
        => Provinsis = Task.FromResult(await Http.GetFromJsonAsync<ApiResponse<GetProvinsisResponse>>(Constants.URI.Region.GetProvinsis)).Result.Result.Data.ToList();
    private async Task GetKotasByProvinsiID(string ID)
        => Kotas = Task.FromResult(await Http.GetFromJsonAsync<ApiResponse<GetKotasByProvinsiIDResponse>>($"{Constants.URI.Region.GetKotasByProvinsiID}{ID}")).Result.Result.Data.ToList();
    private async Task GetKecamatansByKotaID(string ID)
        => Kecamatans = Task.FromResult(await Http.GetFromJsonAsync<ApiResponse<GetKecamatansByKotaIDResponse>>($"{Constants.URI.Region.GetKecamatansByKotaID}{ID}")).Result.Result.Data.ToList();
    private async Task GetKelurahansByKecamatanID(string ID)
        => Kelurahans = Task.FromResult(await Http.GetFromJsonAsync<ApiResponse<GetKelurahansByKecamatanIDResponse>>($"{Constants.URI.Region.GetKelurahansByKecamatanID}{ID}")).Result.Result.Data.ToList();

    private async Task GetEntityByID()
    {
        IsLoading = true;

        Entity = Task.FromResult(await Http.GetFromJsonAsync<ApiResponse<GetUserResponse>>($"{Constants.URI.User.GetUser}{ID}")).Result.Result;

        Model.UserID = Entity.User.UserID;
        Model.Username = Entity.User.Username;
        Model.Alamat = Entity.User.Alamat;
        Model.Email = Entity.User.Email;
        Model.Fullname = Entity.User.Fullname;
        Model.Instansi = Entity.User.Instansi;
        Model.Jabatan = Entity.User.Jabatan;
        Model.NIP = Entity.User.NIP;
        Model.Telepon = Entity.User.Telepon;

        Model.RoleID = Entity.User.RoleID;
        Model.ProvinsiID = Entity.User.ProvinsiID;
        Model.KotaID = Entity.User.KotaID;
        Model.KecamatanID = Entity.User.KecamatanID;
        Model.KelurahanID = Entity.User.KelurahanID;

        await GetKotasByProvinsiID(Model.ProvinsiID);
        await GetKecamatansByKotaID(Model.KotaID);
        await GetKelurahansByKecamatanID(Model.KecamatanID);

        IsLoading = false;
    }

    private async Task Submit()
    {
        IsLoading = true;

        var client = await Http.PutAsJsonAsync<UpdateUserRequest>(Constants.URI.User.Base, Model);

        Response = Task.FromResult(await client.Content.ReadFromJsonAsync<ApiResponse<UpdateUserResponse>>()).Result;

        if (!Response.Status.IsError)
        {
            IsLoading = false;

            await DialogIsOpenStatus.InvokeAsync(false);

            await OnSuccessSubmit.InvokeAsync(true);

            StateHasChanged();
        }
        else
        {
            Toaster.Add(Response.Status.Message, MatToastType.Danger);

            IsLoading = false;
            StateHasChanged();
        }
    }
}
