@layout AnonymousLayout

@page "/cluster"

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner" style="min-height: 100px;">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-align-middle mat-layout-grid-cell-span-4">
            <MatH4><strong>Cluster UPH dan Kemitraan</strong></MatH4>
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2"></div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-align-right mat-layout-grid-cell-span-6">
            <MatIcon>
                <img src="images/cluster.png" />
            </MatIcon>
        </div>
    </div>
</div>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner" style="min-height: 100px;">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-align-middle mat-layout-grid-cell-span-12">
            <MatTabGroup>
                <MatTab Label="Cluster UPH">
                    <MatTable Items="@clusterUphs" class="mat-elevation-z5">
                        <MatTableHeader>
                            <th class="text-center">Cluster</th>
                            <th width="50%" class="text-center">Keterangan</th>
                            <th class="text-center">Total</th>
                        </MatTableHeader>
                        <MatTableRow>
                            <td class="text-center">@context.Cluster</td>
                            <td class="text-center">
                                @for (int i = 0; i < context.Star; i++)
                                {
                                    <MatIcon Icon="@MatIconNames.Star"></MatIcon>
                                }
                            </td>
                            <td class="text-center">@context.Total</td>
                        </MatTableRow>
                    </MatTable>
                </MatTab>
                <MatTab Label="Cluster Kemitraan">
                    <MatTable Items="@clusterKemitraans" class="mat-elevation-z5">
                        <MatTableHeader>
                            <th class="text-center">Cluster</th>
                            <th width="50%" class="text-center">Keterangan</th>
                            <th class="text-center">Total</th>
                        </MatTableHeader>
                        <MatTableRow>
                            <td class="text-center">@context.Cluster</td>
                            <td class="text-center">
                                @for (int i = 0; i < context.Star; i++)
                                {
                                    <MatIcon Icon="@MatIconNames.Star"></MatIcon>
                                }
                            </td>
                            <td class="text-center">@context.Total</td>
                        </MatTableRow>
                    </MatTable>
                </MatTab>
            </MatTabGroup>
        </div>
    </div>
</div>


@code
{
    public class ClusterUPH
    {
        public string Cluster { get; set; }
        public int Star { get; set; }
        public int Total { get; set; }

        public ClusterUPH(string cluster, int star, int total)
        {
            Cluster = cluster;
            Star = star;
            Total = total;
        }
    }

    ClusterUPH[] clusterUphs = new[]
    {
        new ClusterUPH("A", 4, 6),
        new ClusterUPH("B", 3, 46),
        new ClusterUPH("C", 2, 278),
        new ClusterUPH("D", 1, 1938)
    };

    public class ClusterKemitraan
    {
        public string Cluster { get; set; }
        public int Star { get; set; }
        public int Total { get; set; }

        public ClusterKemitraan(string cluster, int star, int total)
        {
            Cluster = cluster;
            Star = star;
            Total = total;
        }
    }

    ClusterKemitraan[] clusterKemitraans = new[]
    {
        new ClusterKemitraan("A", 4, 3),
        new ClusterKemitraan("B", 3, 1),
        new ClusterKemitraan("C", 2, 19),
        new ClusterKemitraan("D", 1, 21)
    };
}