@inject HttpClient Http
@inject IMatToaster Toaster
@inject AuthenticationStateProvider _authenticationStateProvider

@namespace SiUpin.Pages.Admin.Uph

@using SiUpin.Shared.Uphs.Queries.GetUphAndProduk

@using SiUpin.Shared.Uphs.Command.UpdateUph
@using SiUpin.Shared.UphProduks.Command.UpdateUphProduk
@using SiUpin.Shared.UphProduks.Command.DeleteUphProduk
@using SiUpin.Shared.UphProduks.Command.CreateUphProduk

@using SiUpin.Shared.JenisTernaks.Queries.GetJenisTernaks
@using SiUpin.Shared.ProdukOlahans.Queries.GetProdukOlahans
@using SiUpin.Shared.Satuans.Queries.GetSatuans

@using SiUpin.Shared.ParameterJawabans.Common
@using SiUpin.Shared.ParameterJawabans.Queries.GetParameterJawabansByIndikatorName

@using SiUpin.Shared.Common.ApiEnvelopes
@using System.Net.Http.Headers;

@using SiUpin.Shared.Provinsis.Queries.GetProvinsis
@using SiUpin.Shared.Kotas.Queries.GetKotasByProvinsiID
@using SiUpin.Shared.Kecamatans.Queries.GetKecamatansByKotaID
@using SiUpin.Shared.Kelurahans.Queries.GetKelurahansByKecamatanID

@using System.IO;

@if (IsLoading)
{
    <MatDialog @bind-IsOpen="IsLoading" CanBeClosed="false">
        <MatDialog>Please Wait..</MatDialog>
        <MatDialogContent>
            <MatProgressBar Indeterminate="true" Closed="!IsLoading"></MatProgressBar>
        </MatDialogContent>
    </MatDialog>
}
else
{
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <MatButton Icon="@MatIconNames.Keyboard_arrow_left" OnClick="CancelClick">Kembali</MatButton>
            </div>

            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12 mat-elevation-z3 p-3">
                <MatH6>UPH</MatH6>
                <EditForm EditContext="_uphContext">
                    <DataAnnotationsValidator />
                    <div class="mat-layout-grid-inner mt-0">
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            <MatTextField @bind-Value="Model.Name" Label="Name" Required="true" FullWidth="true" />
                            <MatCaption Class="mt-1">
                                <ValidationMessage For="@(() => Model.Name)" />
                            </MatCaption>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            <MatTextField @bind-Value="Model.Ketua" Label="Ketua" Required="true" FullWidth="true" />
                            <MatCaption Class="mt-1">
                                <ValidationMessage For="@(() => Model.Ketua)" />
                            </MatCaption>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            <MatTextField @bind-Value="Model.Handphone" Label="Handphone" Type="number" FullWidth="true" />
                            <MatCaption Class="mt-1">
                                <ValidationMessage For="@(() => Model.Handphone)" />
                            </MatCaption>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            <MatTextField @bind-Value="Model.TahunBerdiri" Label="Tahun Berdiri" Type="number" FullWidth="true" />
                            <MatCaption Class="mt-1">
                                <ValidationMessage For="@(() => Model.TahunBerdiri)" />
                            </MatCaption>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            <MatSelect @bind-Value="SelectProvinsi" Label="Provinsi" FullWidth="true">
                                <MatOption TValue="string" Value="@(null)"></MatOption>
                                @if (Provinsis.Count() > 0)
                                    {
                                        foreach (var item in Provinsis)
                                        {
                                        <MatOption TValue="string" Value="@(item.ProvinsiID)">@item.Name</MatOption>
                                        }
                                    }
                            </MatSelect>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            <MatSelect @bind-Value="SelectKota" Label="Kota" FullWidth="true">
                                <MatOption TValue="string" Value="@(null)"></MatOption>
                                @if (Kotas.Count() > 0)
                                    {
                                        foreach (var item in Kotas)
                                        {
                                        <MatOption TValue="string" Value="@(item.KotaID)">@item.Name</MatOption>
                                        }
                                    }
                            </MatSelect>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            <MatSelect @bind-Value="SelectKecamatan" Label="Kecamatan" FullWidth="true">
                                <MatOption TValue="string" Value="@(null)"></MatOption>
                                @if (Kecamatans.Count() > 0)
                                    {
                                        foreach (var item in Kecamatans)
                                        {
                                        <MatOption TValue="string" Value="@(item.KecamatanID)">@item.Name</MatOption>
                                        }
                                    }
                            </MatSelect>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            <MatSelect @bind-Value="SelectKelurahan" Label="Kelurahan" FullWidth="true">
                                <MatOption TValue="string" Value="@(null)"></MatOption>
                                @if (Kelurahans.Count() > 0)
                                    {
                                        foreach (var item in Kelurahans)
                                        {
                                        <MatOption TValue="string" Value="@(item.KelurahanID)">@item.Name</MatOption>
                                        }
                                    }
                            </MatSelect>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            <MatSelect @bind-Value="Model.ParameterStatusUphID" Label="Status UPH" FullWidth="true">
                                <MatOption TValue="string" Value="@(null)"></MatOption>
                                @if (ParameterStatusUPH.Count() > 0)
                                    {
                                        foreach (var item in ParameterStatusUPH)
                                        {
                                        <MatOption TValue="string" Value="@(item.ParameterJawabanID)">@item.Name</MatOption>
                                        }
                                    }
                            </MatSelect>
                            <MatCaption Class="mt-1">
                                <ValidationMessage For="@(() => Model.ParameterStatusUphID)" />
                            </MatCaption>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            <MatSelect @bind-Value="Model.ParameterBentukLembagaID" Label="Bentuk Lembaga" FullWidth="true">
                                <MatOption TValue="string" Value="@(null)"></MatOption>
                                @if (ParameterBentukLembaga.Count() > 0)
                                    {
                                        foreach (var item in ParameterBentukLembaga)
                                        {
                                        <MatOption TValue="string" Value="@(item.ParameterJawabanID)">@item.Name</MatOption>
                                        }
                                    }
                            </MatSelect>
                            <MatCaption Class="mt-1">
                                <ValidationMessage For="@(() => Model.ParameterBentukLembagaID)" />
                            </MatCaption>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            <MatSelect @bind-Value="Model.ParameterBadanHukumID" Label="Badan Hukum" FullWidth="true">
                                <MatOption TValue="string" Value="@(null)"></MatOption>
                                @if (ParameterBadanHukum.Count() > 0)
                                    {
                                        foreach (var item in ParameterBadanHukum)
                                        {
                                        <MatOption TValue="string" Value="@(item.ParameterJawabanID)">@item.Name</MatOption>
                                        }
                                    }
                            </MatSelect>
                            <MatCaption Class="mt-1">
                                <ValidationMessage For="@(() => Model.ParameterBadanHukumID)" />
                            </MatCaption>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            <MatSelect @bind-Value="Model.ParameterAdministrasiID" Label="Administrasi" FullWidth="true">
                                <MatOption TValue="string" Value="@(null)"></MatOption>
                                @if (ParameterAdministrasi.Count() > 0)
                                    {
                                        foreach (var item in ParameterAdministrasi)
                                        {
                                        <MatOption TValue="string" Value="@(item.ParameterJawabanID)">@item.Name</MatOption>
                                        }
                                    }
                            </MatSelect>
                            <MatCaption Class="mt-1">
                                <ValidationMessage For="@(() => Model.ParameterAdministrasiID)" />
                            </MatCaption>
                        </div>

                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                            <MatTextField @bind-Value="Model.Alamat" Label="Alamat" TextArea="true" FullWidth="true" />
                            <MatCaption Class="mt-1">
                                <ValidationMessage For="@(() => Model.Alamat)" />
                            </MatCaption>
                        </div>
                    </div>
                </EditForm>
            </div>

            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12 mat-elevation-z3 p-3">
                <MatH6>Produk UPH</MatH6>
                <EditForm EditContext="_uphProdukContext">
                    <DataAnnotationsValidator />
                    <div class="mat-layout-grid-inner mt-0">
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            <MatTextField @bind-Value="ModelUphProduk.Name" Label="Name" FullWidth="true" />
                            <MatCaption Class="mt-1">
                                <ValidationMessage For="@(() => ModelUphProduk.Name)" />
                            </MatCaption>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            <MatTextField @bind-Value="ModelUphProduk.Harga" Label="Harga" Type="number" FullWidth="true" />
                            <MatCaption Class="mt-1">
                                <ValidationMessage For="@(() => ModelUphProduk.Harga)" />
                            </MatCaption>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            <MatTextField @bind-Value="ModelUphProduk.Berat" Label="Berat" Type="number" FullWidth="true" />
                            <MatCaption Class="mt-1">
                                <ValidationMessage For="@(() => ModelUphProduk.Berat)" />
                            </MatCaption>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            <MatSelect @bind-Value="SelectSatuan" Label="Satuan" FullWidth="true">
                                <MatOption TValue="string" Value="@(null)"></MatOption>
                                @if (Satuans.Count() > 0)
                                    {
                                        foreach (var item in Satuans)
                                        {
                                        <MatOption TValue="string" Value="@(item.SatuanID)">@item.Name</MatOption>
                                        }
                                    }
                            </MatSelect>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            <MatSelect @bind-Value="SelectJenisTernak" Label="Jenis Ternak" FullWidth="true">
                                <MatOption TValue="string" Value="@(null)"></MatOption>
                                @if (JenisTernaks.Count() > 0)
                                    {
                                        foreach (var item in JenisTernaks)
                                        {
                                        <MatOption TValue="string" Value="@(item.JenisTernakID)">@item.Name</MatOption>
                                        }
                                    }
                            </MatSelect>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            <MatSelect @bind-Value="SelectProdukOlahan" Label="Produk Olahan" FullWidth="true">
                                <MatOption TValue="string" Value="@(null)"></MatOption>
                                @if (ProdukOlahans.Count() > 0)
                                    {
                                        foreach (var item in ProdukOlahans)
                                        {
                                        <MatOption TValue="string" Value="@(item.ProdukOlahanID)">@item.Name</MatOption>
                                        }
                                    }
                            </MatSelect>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                            <MatTextField @bind-Value="ModelUphProduk.Description" Label="Description" FullWidth="true" />
                            <MatCaption Class="mt-1">
                                <ValidationMessage For="@(() => ModelUphProduk.Description)" />
                            </MatCaption>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                            <div class="matBlazor_theme_0e31435e-da49-44a4-b48a-b1ada743d996 mat-file-upload mdc-ripple-surface mdc-ripple-upgraded"
                                 style="--mdc-ripple-fg-size:323px; --mdc-ripple-fg-scale:1.72817; --mdc-ripple-fg-translate-start:-27.9063px, -110.5px; --mdc-ripple-fg-translate-end:108.453px, -114px;">
                                <InputFile OnChange="HandleFileListBlazor" multiple />
                                <div class="mat-file-upload-content">
                                    <span>Drop files here or Browse</span>
                                </div>
                            </div>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                            @if (FileList != null)
                            {
                                <MatBody2><MatIcon Icon="@MatIconNames.Photo" />&nbsp;&nbsp; @FileList.Name</MatBody2>
                            }
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                            @if (IsButtonSave)
                            {
                                <MatButton Icon="@MatIconNames.Save" Raised="true" OnClick="HandleSaveEditExistingUphProduk">Save</MatButton>
                                <MatButton Icon="@MatIconNames.Cancel" Raised="true" OnClick="HandleCancelEditExistingUphProduk">Cancel</MatButton>
                            }
                            else
                            {
                                <MatButton Icon="@MatIconNames.Add" Raised="true" OnClick="HandleAddUphProduks">Add</MatButton>
                            }
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                            @foreach (var uphProduk in UphProduks)
                            {
                                var item = uphProduk.UphProduk;

                                if (!item.IsDelete)
                                {
                                    <MatBody1>
                                        <MatIcon Icon="@MatIconNames.Fastfood" />&nbsp;&nbsp; @item.Name - Rp @item.Harga &nbsp;&nbsp;
                                        <MatIconButton Icon="@MatIconNames.Edit" OnClick="@(() => HandleSelectedUphProduks(uphProduk))" /><MatIconButton Icon="@MatIconNames.Delete" OnClick="@(() => HandleRemoveUphProduks(uphProduk))" />
                                    </MatBody1>

                                    if (uphProduk.UphProdukFiles != null)
                                    {
                                        <MatCaption>&nbsp;&nbsp; <MatIcon Icon="@MatIconNames.Photo" />&nbsp; &nbsp; @uphProduk.UphProdukFiles.Name</MatCaption>
                                    }
                                }
                            }
                        </div>
                    </div>
                </EditForm>
            </div>

            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <MatButton OnClick="CancelClick">Cancel</MatButton>
                <MatButton Raised="true" OnClick="HandleSubmit">
                    Submit &nbsp;
                    @if (IsLoadingCircle)
                    {
                        <i class="fas fa-spinner fa-spin"></i>
                    }
                </MatButton>
            </div>
        </div>
    </div>
}

@code
{
    private bool IsLoadingCircle = false;

    private bool IsButtonSave = false;

    public string _ID { get; set; }

    [Parameter]
    public string UphID
    {
        get => _ID;
        set
        {
            if (_ID != value)
            {
                _ID = value;

                InvokeAsync(async () =>
                {
                    await GetEntityByID();
                });
            }
        }
    }

    [Parameter]
    public bool DialogIsOpen { get; set; } = false;

    [Parameter]
    public EventCallback<bool> DialogIsOpenStatus { get; set; }

    [Parameter]
    public EventCallback<bool> OnSuccessSubmit { get; set; }

    private bool IsLoading = false;
    public bool IsDisabledLoginButton { get; set; }

    public GetUphAndProdukResponse UphAndProduk { get; set; }

    public UpdateUphRequest Model { get; set; } = new UpdateUphRequest();
    public UpdateUphProdukRequest ModelUphProduk { get; set; } = new UpdateUphProdukRequest();

    public ApiResponse<UpdateUphResponse> Response { get; set; }
    public ApiResponse<UpdateUphProdukResponse> ResponseUphProduk { get; set; }

    private EditContext _uphContext;
    private EditContext _uphProdukContext;

    public string SelectProvinsi
    {
        get => Model.ProvinsiID;
        set
        {
            Model.ProvinsiID = value;
            InvokeAsync(async () =>
            {
                await GetKotasByProvinsiID(value);
                StateHasChanged();
            });
        }
    }

    public string SelectKota
    {
        get => Model.KotaID;
        set
        {
            Model.KotaID = value;
            InvokeAsync(async () =>
            {
                await GetKecamatansByKotaID(value);
                StateHasChanged();
            });
        }
    }

    public string SelectKecamatan
    {
        get => Model.KecamatanID;
        set
        {
            Model.KecamatanID = value;
            InvokeAsync(async () =>
            {
                await GetKelurahansByKecamatanID(value);
                StateHasChanged();
            });
        }
    }

    public string SelectKelurahan
    {
        get => Model.KelurahanID;
        set => Model.KelurahanID = value;
    }

    public string SelectJenisTernak
    {
        get => ModelUphProduk.JenisTernakID;
        set => ModelUphProduk.JenisTernakID = value;
    }

    public string SelectProdukOlahan
    {
        get => ModelUphProduk.ProdukOlahanID;
        set => ModelUphProduk.ProdukOlahanID = value;
    }

    public string SelectSatuan
    {
        get => ModelUphProduk.SatuanID;
        set => ModelUphProduk.SatuanID = value;
    }

    public IList<ProvinsiDTO> Provinsis { get; set; } = new List<ProvinsiDTO>();
    public IList<KotaDTO> Kotas { get; set; } = new List<KotaDTO>();
    public IList<KecamatanDTO> Kecamatans { get; set; } = new List<KecamatanDTO>();
    public IList<KelurahanDTO> Kelurahans { get; set; } = new List<KelurahanDTO>();

    public IList<ParameterJawabanDTO> ParameterBadanHukum { get; set; } = new List<ParameterJawabanDTO>();
    public IList<ParameterJawabanDTO> ParameterAdministrasi { get; set; } = new List<ParameterJawabanDTO>();
    public IList<ParameterJawabanDTO> ParameterBentukLembaga { get; set; } = new List<ParameterJawabanDTO>();
    public IList<ParameterJawabanDTO> ParameterStatusUPH { get; set; } = new List<ParameterJawabanDTO>();

    public IList<JenisTernakDTO> JenisTernaks { get; set; } = new List<JenisTernakDTO>();
    public IList<ProdukOlahanDTO> ProdukOlahans { get; set; } = new List<ProdukOlahanDTO>();
    public IList<SatuanDTO> Satuans { get; set; } = new List<SatuanDTO>();

    public IList<ClientUphProduks> UphProduks { get; set; } = new List<ClientUphProduks>();

    public UphProdukFiles FileList;

    private void HandleFileListBlazor(IFileListEntry[] files)
    {
        FileList = new UphProdukFiles();

        FileList.Data = files.FirstOrDefault().Data;
        FileList.Name = files.FirstOrDefault().Name;
    }

    public void CancelClick()
    {
        DialogIsOpenStatus.InvokeAsync(false);
    }

    protected override async Task OnInitializedAsync()
    {
        _uphContext = new EditContext(Model);
        _uphProdukContext = new EditContext(ModelUphProduk);

        await GetProvinsis();

        await GetJenisTernaks();
        await GetProdukOlahans();
        await GetSatuans();

        StateHasChanged();
    }

    private async Task GetEntityByID()
    {
        IsLoading = true;

        UphAndProduk = Task.FromResult(await Http.GetFromJsonAsync<ApiResponse<GetUphAndProdukResponse>>($"{Constants.URI.Uph.Details}{UphID}")).Result.Result;

        // preparing Uph
        Model.UphID = UphAndProduk.UphID;

        Model.Name = UphAndProduk.Name;
        Model.Ketua = UphAndProduk.Ketua;
        Model.Handphone = UphAndProduk.Handphone;
        Model.TahunBerdiri = UphAndProduk.TahunBerdiri;

        Model.ProvinsiID = UphAndProduk.ProvinsiID;

        await GetKotasByProvinsiID(Model.ProvinsiID);
        Model.KotaID = UphAndProduk.KotaID;

        await GetKecamatansByKotaID(Model.KotaID);
        Model.KecamatanID = UphAndProduk.KecamatanID;

        await GetKelurahansByKecamatanID(Model.KecamatanID);
        Model.KelurahanID = UphAndProduk.KelurahanID;

        Model.Alamat = UphAndProduk.Alamat;

        await GetParameterJawabansByIndikatorName();
        Model.ParameterAdministrasiID = UphAndProduk.ParameterAdministrasiID;
        Model.ParameterBadanHukumID = UphAndProduk.ParameterBadanHukumID;
        Model.ParameterBentukLembagaID = UphAndProduk.ParameterBentukLembagaID;
        Model.ParameterStatusUphID = UphAndProduk.ParameterStatusUphID;

        // preparing UphProduks
        if (UphAndProduk.UphProduks.Count > 0)
        {
            foreach (var uphProduk in UphAndProduk.UphProduks)
            {
                UphProduks.Add(new ClientUphProduks
                {
                    UphProduk = new UpdateUphProdukRequest
                    {
                        UphID = uphProduk.UphID,
                        UphProdukID = uphProduk.UphProdukID,
                        Name = uphProduk.Name,
                        Berat = uphProduk.Berat,
                        Harga = uphProduk.Harga,
                        SatuanID = uphProduk.SatuanID,
                        JenisTernakID = uphProduk.JenisTernakID,
                        ProdukOlahanID = uphProduk.ProdukOlahanID,
                        Description = uphProduk.Description
                    },

                    UphProdukFiles = new UphProdukFiles
                    {
                        Name = uphProduk.File.Name,
                    }
                });
            }
        }

        IsLoading = false;

        StateHasChanged();
    }

    private void HandleSelectedUphProduks(ClientUphProduks clientUphProduks)
    {
        ModelUphProduk.UphID = clientUphProduks.UphProduk.UphID;
        ModelUphProduk.UphProdukID = clientUphProduks.UphProduk.UphProdukID;
        ModelUphProduk.Name = clientUphProduks.UphProduk.Name;
        ModelUphProduk.Berat = clientUphProduks.UphProduk.Berat;
        ModelUphProduk.Harga = clientUphProduks.UphProduk.Harga;
        ModelUphProduk.SatuanID = clientUphProduks.UphProduk.SatuanID;
        ModelUphProduk.JenisTernakID = clientUphProduks.UphProduk.JenisTernakID;
        ModelUphProduk.ProdukOlahanID = clientUphProduks.UphProduk.ProdukOlahanID;
        ModelUphProduk.Description = clientUphProduks.UphProduk.Description;

        FileList = new UphProdukFiles();
        FileList.Name = clientUphProduks.UphProdukFiles.Name;

        if (clientUphProduks.UphProdukFiles.Data != null)
        {
            FileList.Data = clientUphProduks.UphProdukFiles.Data;
        }

        IsButtonSave = true;
    }

    private void HandleAddUphProduks()
    {
        if (_uphProdukContext.Validate())
        {
            if (string.IsNullOrEmpty(ModelUphProduk.UphID))
            {
                ModelUphProduk.UphID = UphID;
            }

            var clientUphProduks = new ClientUphProduks();
            clientUphProduks.UphProduk = ModelUphProduk;

            if (FileList.Data != null)
                clientUphProduks.UphProdukFiles = new UphProdukFiles
                {
                    Data = FileList.Data,
                    Name = FileList.Name
                };

            UphProduks.Add(clientUphProduks);

            ModelUphProduk = new UpdateUphProdukRequest();
            FileList = null;

            StateHasChanged();
        }
        else
        {
            _uphProdukContext.AddDataAnnotationsValidation();
            Toaster.AddErrors(_uphProdukContext.GetValidationMessages());
        }
    }

    private void HandleSaveEditExistingUphProduk()
    {
        if (FileList.Data != null)
        {
            UphProduks.FirstOrDefault(x => x.UphProduk.UphProdukID == ModelUphProduk.UphProdukID).UphProdukFiles.Name = FileList.Name;
            UphProduks.FirstOrDefault(x => x.UphProduk.UphProdukID == ModelUphProduk.UphProdukID).UphProdukFiles.Data = FileList.Data;
        }

        UphProduks.FirstOrDefault(x => x.UphProduk.UphProdukID == ModelUphProduk.UphProdukID).UphProduk = ModelUphProduk;

        ModelUphProduk = new UpdateUphProdukRequest();
        FileList = null;
        IsButtonSave = false;

        StateHasChanged();
    }

    private void HandleCancelEditExistingUphProduk()
    {
        ModelUphProduk = new UpdateUphProdukRequest();
        FileList = null;
        IsButtonSave = false;
    }

    private void HandleRemoveUphProduks(ClientUphProduks clientUphProduks)
    {
        UphProduks.FirstOrDefault(x => x.UphProduk.UphProdukID == clientUphProduks.UphProduk.UphProdukID).UphProduk.IsDelete = true;
        StateHasChanged();
    }

    private async Task GetProvinsis()
    => Provinsis = Task.FromResult(await Http.GetFromJsonAsync<ApiResponse<GetProvinsisResponse>>(Constants.URI.Region.GetProvinsis)).Result.Result.Data.ToList();
    private async Task GetKotasByProvinsiID(string ID)
        => Kotas = Task.FromResult(await Http.GetFromJsonAsync<ApiResponse<GetKotasByProvinsiIDResponse>>($"{Constants.URI.Region.GetKotasByProvinsiID}{ID}")).Result.Result.Data.ToList();
    private async Task GetKecamatansByKotaID(string ID)
        => Kecamatans = Task.FromResult(await Http.GetFromJsonAsync<ApiResponse<GetKecamatansByKotaIDResponse>>($"{Constants.URI.Region.GetKecamatansByKotaID}{ID}")).Result.Result.Data.ToList();
    private async Task GetKelurahansByKecamatanID(string ID)
        => Kelurahans = Task.FromResult(await Http.GetFromJsonAsync<ApiResponse<GetKelurahansByKecamatanIDResponse>>($"{Constants.URI.Region.GetKelurahansByKecamatanID}{ID}")).Result.Result.Data.ToList();

    private async Task GetJenisTernaks()
        => JenisTernaks = Task.FromResult(await Http.GetFromJsonAsync<ApiResponse<GetJenisTernaksResponse>>(Constants.URI.JenisTernak.Base)).Result.Result.Data.ToList();
    private async Task GetProdukOlahans()
        => ProdukOlahans = Task.FromResult(await Http.GetFromJsonAsync<ApiResponse<GetProdukOlahansResponse>>(Constants.URI.ProdukOlahan.Base)).Result.Result.Data.ToList();
    private async Task GetSatuans()
        => Satuans = Task.FromResult(await Http.GetFromJsonAsync<ApiResponse<GetSatuansResponse>>(Constants.URI.Satuan.Base)).Result.Result.Data.ToList();

    private async Task GetParameterJawabansByIndikatorName()
    {
        var badanHukum = "Badan Hukum";
        var administrasi = "Administrasi";
        var bentukLembaga = "Bentuk kelembagaan";
        var statusUPH = "Status UPH";

        ParameterBadanHukum = Task.FromResult(await Http.GetFromJsonAsync<ApiResponse<GetParameterJawabansByIndikatorNameResponse>>
            ($"{Constants.URI.ParameterJawaban.ByIndikatorName}{badanHukum}")).Result.Result.ParameterJawabans.ToList();

        ParameterAdministrasi = Task.FromResult(await Http.GetFromJsonAsync<ApiResponse<GetParameterJawabansByIndikatorNameResponse>>
            ($"{Constants.URI.ParameterJawaban.ByIndikatorName}{administrasi}")).Result.Result.ParameterJawabans.ToList();

        ParameterBentukLembaga = Task.FromResult(await Http.GetFromJsonAsync<ApiResponse<GetParameterJawabansByIndikatorNameResponse>>
            ($"{Constants.URI.ParameterJawaban.ByIndikatorName}{bentukLembaga}")).Result.Result.ParameterJawabans.ToList();

        ParameterStatusUPH = Task.FromResult(await Http.GetFromJsonAsync<ApiResponse<GetParameterJawabansByIndikatorNameResponse>>
            ($"{Constants.URI.ParameterJawaban.ByIndikatorName}{statusUPH}")).Result.Result.ParameterJawabans.ToList();
    }

    private async Task HandleSubmit()
    {
        IsLoadingCircle = true;

        var handleSubmitUph = await HandleSubmitUph();

        if (handleSubmitUph)
        {
            var handleSubmitUphProduk = await HandleSubmitUphProduk();

            if (handleSubmitUphProduk)
            {
                await DialogIsOpenStatus.InvokeAsync(false);
                await OnSuccessSubmit.InvokeAsync(true);

                IsLoadingCircle = false;
                StateHasChanged();
            }
        }
    }

    private async Task<bool> HandleSubmitUphProduk()
    {
        if (UphProduks.Count > 0)
        {
            foreach (var uphProduk in UphProduks)
            {
                var item = uphProduk.UphProduk;

                if (!string.IsNullOrEmpty(item.UphID))
                {
                    if (!string.IsNullOrEmpty(item.UphProdukID))
                    {
                        IList<string> deleteUphIDs = new List<string>();

                        if (!item.IsDelete)
                        {
                            var client = await Http.PutAsJsonAsync<UpdateUphProdukRequest>(Constants.URI.UphProduk.Base, new UpdateUphProdukRequest
                            {
                                UphProdukID = item.UphProdukID,
                                UphID = item.UphID,
                                Berat = item.Berat,
                                Description = item.Description,
                                Harga = item.Harga,
                                JenisTernakID = item.JenisTernakID,
                                ProdukOlahanID = item.ProdukOlahanID,
                                Name = item.Name,
                                SatuanID = item.SatuanID
                            });

                            ResponseUphProduk = Task.FromResult(await client.Content.ReadFromJsonAsync<ApiResponse<UpdateUphProdukResponse>>()).Result;

                            if (ResponseUphProduk.Status.IsError)
                            {
                                Toaster.Add(ResponseUphProduk.Status.Message, MatToastType.Danger);

                                IsLoading = false;

                                StateHasChanged();

                                return false;
                            }

                            var file = uphProduk.UphProdukFiles;

                            if (file.Data != null)
                            {
                                var content = new MultipartFormDataContent();
                                content.Headers.ContentDisposition = new ContentDispositionHeaderValue("form-data");

                                content.Add(new StringContent(ResponseUphProduk.Result.UphProdukID), "EntityID");
                                content.Add(new StringContent(Constants.FileEntityType.UphProduk), "EntityType");

                                content.Add(new StreamContent(file.Data, (int)file.Data.Length), "Files", file.Name);

                                var result = await Http.PostAsync(Constants.URI.File.Register, content);
                            }
                        }
                        else
                        {
                            // delete uph produk
                            deleteUphIDs.Add(item.UphProdukID);
                        }

                        if (deleteUphIDs.Count > 0)
                        {
                            await Http.PostAsJsonAsync<DeleteUphProdukRequest>(Constants.URI.UphProduk.Delete, new DeleteUphProdukRequest { UphProdukIDs = deleteUphIDs });
                        }
                    }
                    else
                    {
                        if (!item.IsDelete)
                        {
                            var client = await Http.PostAsJsonAsync<CreateUphProdukRequest>(Constants.URI.UphProduk.Register, new CreateUphProdukRequest
                            {
                                UphProdukID = item.UphProdukID,
                                UphID = item.UphID,
                                Berat = item.Berat,
                                Description = item.Description,
                                Harga = item.Harga,
                                JenisTernakID = item.JenisTernakID,
                                Name = item.Name,
                                ProdukOlahanID = item.ProdukOlahanID,
                                SatuanID = item.SatuanID
                            });

                            var ResponseCreateUphProduk = Task.FromResult(await client.Content.ReadFromJsonAsync<ApiResponse<CreateUphProdukResponse>>()).Result;

                            if (ResponseCreateUphProduk.Status.IsError)
                            {
                                Toaster.Add(ResponseCreateUphProduk.Status.Message, MatToastType.Danger);

                                IsLoading = false;

                                StateHasChanged();

                                return false;
                            }

                            var file = uphProduk.UphProdukFiles;

                            if (file.Data != null)
                            {
                                var content = new MultipartFormDataContent();
                                content.Headers.ContentDisposition = new ContentDispositionHeaderValue("form-data");

                                content.Add(new StringContent(ResponseCreateUphProduk.Result.UphProdukID), "EntityID");
                                content.Add(new StringContent(Constants.FileEntityType.UphProduk), "EntityType");

                                content.Add(new StreamContent(file.Data, (int)file.Data.Length), "Files", file.Name);

                                var result = await Http.PostAsync(Constants.URI.File.Register, content);
                            }
                        }
                    }
                }
            }

            IsLoading = false;
            StateHasChanged();

            return true;
        }

        return false;
    }

    private async Task<bool> HandleSubmitUph()
    {
        if (_uphContext.Validate())
        {
            if (UphProduks.Count > 0)
            {
                var client = await Http.PutAsJsonAsync<UpdateUphRequest>(Constants.URI.Uph.Base, new UpdateUphRequest
                {
                    UphID = Model.UphID,
                    ProvinsiID = Model.ProvinsiID,
                    KotaID = Model.KotaID,
                    KecamatanID = Model.KecamatanID,
                    KelurahanID = Model.KelurahanID,

                    Alamat = Model.Alamat,
                    Handphone = Model.Alamat,
                    Ketua = Model.Ketua,
                    Name = Model.Name,
                    TahunBerdiri = Model.TahunBerdiri,

                    ParameterAdministrasiID = Model.ParameterAdministrasiID,
                    ParameterBadanHukumID = Model.ParameterBadanHukumID,
                    ParameterBentukLembagaID = Model.ParameterBentukLembagaID,
                    ParameterStatusUphID = Model.ParameterStatusUphID
                });

                Response = Task.FromResult(await client.Content.ReadFromJsonAsync<ApiResponse<UpdateUphResponse>>()).Result;

                if (!Response.Status.IsError)
                {
                    return true;
                }
                else
                {
                    Toaster.Add(Response.Status.Message, MatToastType.Danger);

                    IsLoading = false;
                    StateHasChanged();
                }
            }
            else
            {
                IsLoading = false;
                StateHasChanged();

                Toaster.Add("Maaf, Data Uph Produk tidak boleh Kosong", MatToastType.Danger);
            }
        }
        else
        {
            _uphContext.AddDataAnnotationsValidation();
            Toaster.AddErrors(_uphContext.GetValidationMessages());
        }

        return false;
    }

    public class ClientUphProduks
    {
        public UpdateUphProdukRequest UphProduk { get; set; }
        public UphProdukFiles UphProdukFiles;
    }

    public class UphProdukFiles
    {
        public Stream Data { get; set; }
        public string Name { get; set; }
    }
}
