@inject HttpClient Http
@inject IMatToaster Toaster

@if (IsLoading)
{
    <MatDialog @bind-IsOpen="IsLoading" CanBeClosed="false">
        <MatDialog>Please Wait..</MatDialog>
        <MatDialogContent>
            <MatProgressBar Indeterminate="true" Closed="!IsLoading"></MatProgressBar>
        </MatDialogContent>
    </MatDialog>
}
else
{
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <MatButton Icon="@MatIconNames.Keyboard_arrow_left" OnClick="CancelClick">Kembali</MatButton>
            </div>

            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12 mat-elevation-z3 p-3">
                <MatH6>Sarana</MatH6>
                <EditForm EditContext="_editContext">
                    <DataAnnotationsValidator />

                    <div class="mat-layout-grid-inner mt-0">
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                            @if (UphIDandNames.Count > 0)
                            {
                                <MatAutocompleteList FullWidth="true" Items="UphIDandNames.Select(x => x.Name).ToList()"
                                                     TItem="string"
                                                     Label="Pilih UPH"
                                                     OnOpenedChanged="@((stats) =>
                                                                        { if (stats) { IsHidden = true; } else { IsHidden = false; } })"
                                                     ValueChanged="@(i => Model.UphID = UphIDandNames.FirstOrDefault(x => x.Name == i).UphID)" />
                                <ValidationMessage For="@(() => Model.UphID)" />
                            }
                        </div>
                        @if (!IsHidden)
                        {
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                                <MatSelect @bind-Value="SelectTahuns" Label="Tahun" FullWidth="true">
                                    <MatOption TValue="string" Value="@(null)"></MatOption>
                                    @if (Tahuns.Count() > 0)
                                            {
                                                foreach (var item in Tahuns)
                                                {
                                            <MatOption TValue="string" Value="@(item)">@item</MatOption>
                                                }
                                            }
                                </MatSelect>
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                                @if (AsalBantuans.Count() > 0)
                                {
                                    <MatBody1>Asal Bantuan</MatBody1>

                                    for (int i = 0; i < AsalBantuans.Count(); i++)
                                    {
                                        int index = i;

                                        <MatCheckbox TValue="bool"
                                                     Value="AsalBantuans[index].IsChoosen"
                                                     ValueExpression="@( () => AsalBantuans[index].IsChoosen )"
                                                     ValueChanged="@((e) => { HandleAsalBantuan(e, index); })" Label="@AsalBantuans[index].Name" />
                                        @:&nbsp;
                                    }

                                    @:&nbsp;
                                    <MatTextField @bind-Value="Model.lain" Label="Lainya (isi jika ada)" />
                                }
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                                <MatTextField @bind-Value="Model.nama_alat" Label="Nama Alat Mesin" Required="true" FullWidth="true" />
                                <MatCaption Class="mt-1">
                                    <ValidationMessage For="@(() => Model.nama_alat)" />
                                </MatCaption>
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                                <MatTextField @bind-Value="Model.kapasitas_terpasang" Label="Kapasitas Terpasang" Type="number" Required="true" FullWidth="true" />
                                <MatCaption Class="mt-1">
                                    <ValidationMessage For="@(() => Model.kapasitas_terpasang)" />
                                </MatCaption>
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                                <MatTextField @bind-Value="Model.kapasitas_terpakai" Label="Kapasitas Terpakai" Type="number" Required="true" FullWidth="true" />
                                <MatCaption Class="mt-1">
                                    <ValidationMessage For="@(() => Model.kapasitas_terpakai)" />
                                </MatCaption>
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                                <MatSelect @bind-Value="SelectSatuans" Label="Satuan" FullWidth="true">
                                    <MatOption TValue="string" Value="@(null)"></MatOption>
                                    @if (Satuans.Count() > 0)
                                            {
                                                foreach (var item in Satuans)
                                                {
                                            <MatOption TValue="string" Value="@(item)">@item</MatOption>
                                                }
                                            }
                                </MatSelect>
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                                <MatSelect @bind-Value="SelectJenisMesins" Label="Jenis Mesin" FullWidth="true">
                                    <MatOption TValue="string" Value="@(null)"></MatOption>
                                    @if (JenisMesins.Count() > 0)
                                            {
                                                foreach (var item in JenisMesins)
                                                {
                                            <MatOption TValue="string" Value="@(item)">@item</MatOption>
                                                }
                                            }
                                </MatSelect>
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                                <MatSelect @bind-Value="SelectStatus" Label="Status" FullWidth="true">
                                    <MatOption TValue="string" Value="@(null)"></MatOption>
                                    @if (Status.Count() > 0)
                                            {
                                                foreach (var item in Status)
                                                {
                                            <MatOption TValue="string" Value="@(item)">@item</MatOption>
                                                }
                                            }
                                </MatSelect>
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                                @if (Alasans.Count() > 0)
                                {
                                    <MatBody1>Alasan</MatBody1>

                                    for (int i = 0; i < Alasans.Count(); i++)
                                    {
                                        int index = i;

                                        <MatCheckbox TValue="bool"
                                                     Value="Alasans[index].IsChoosen"
                                                     ValueExpression="@( () => Alasans[index].IsChoosen )"
                                                     ValueChanged="@((e) => { HandleAlasan(e, index); })" Label="@Alasans[index].Name" />
                                        @:&nbsp;
                                    }

                                    @:&nbsp;
                                    <MatTextField @bind-Value="Model.lain_alasan" Label="Lainya (isi jika ada)" />
                                }
                            </div>
                        }
                    </div>
                </EditForm>
            </div>
            @if (!IsHidden)
            {
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                    <MatButton OnClick="CancelClick">Cancel</MatButton>
                    <MatButton Raised="true" OnClick="HandleSubmit">
                        Submit &nbsp;
                        @if (IsLoadingCircle)
                        {
                            <i class="fas fa-spinner fa-spin"></i>
                        }
                    </MatButton>
                </div>
            }
        </div>
    </div>
}
