@inject HttpClient Http
@inject IMatToaster Toaster

@if (IsLoading)
{
    <MatDialog @bind-IsOpen="IsLoading" CanBeClosed="false">
        <MatDialog>Please Wait..</MatDialog>
        <MatDialogContent>
            <MatProgressBar Indeterminate="true" Closed="!IsLoading"></MatProgressBar>
        </MatDialogContent>
    </MatDialog>
}
else
{
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <MatButton Icon="@MatIconNames.Keyboard_arrow_left" OnClick="CancelClick">Kembali</MatButton>
            </div>

            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12 mat-elevation-z3 p-3">
                <MatH6>Bahan Baku</MatH6>
                <EditForm EditContext="_editContext">
                    <DataAnnotationsValidator />

                    <div class="mat-layout-grid-inner mt-0">
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                            @if (UphIDandNames.Count > 0)
                            {
                                <MatAutocompleteList FullWidth="true" Items="UphIDandNames.Select(x => x.Name).ToList()"
                                                     TItem="string"
                                                     Label="Pilih UPH"
                                                     OnOpenedChanged="@((stats) =>
                                                                        { if (stats) { IsHidden = true; } else { IsHidden = false; } })"
                                                     ValueChanged="@(i => Model.UphID = UphIDandNames.FirstOrDefault(x => x.Name == i).UphID)" />
                                <ValidationMessage For="@(() => Model.UphID)" />
                            }
                        </div>
                        @if (!IsHidden)
                        {
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                                <MatSelect @bind-Value="SelectJenisTernak" Label="Jenis Ternak" FullWidth="true">
                                    <MatOption TValue="string" Value="@(null)"></MatOption>
                                    @if (JenisTernaks.Count() > 0)
                                            {
                                                foreach (var item in JenisTernaks)
                                                {
                                            <MatOption TValue="string" Value="@(item.JenisTernakID)">@item.Name</MatOption>
                                                }
                                            }
                                </MatSelect>
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                                <MatSelect @bind-Value="SelectJenisKomoditi" Label="Bahan Baku" FullWidth="true">
                                    <MatOption TValue="string" Value="@(null)"></MatOption>
                                    @if (JenisKomoditis.Count() > 0)
                                            {
                                                foreach (var item in JenisKomoditis)
                                                {
                                            <MatOption TValue="string" Value="@(item.JenisKomoditiID)">@item.Name</MatOption>
                                                }
                                            }
                                </MatSelect>
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                                <MatTextField @bind-Value="Model.TotalKebutuhan" Label="Kebutuhan" Required="true" FullWidth="true" />
                                <MatCaption Class="mt-1">
                                    <ValidationMessage For="@(() => Model.TotalKebutuhan)" />
                                </MatCaption>
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                                <MatSelect @bind-Value="SelectSatuan" Label="Satuan" FullWidth="true">
                                    <MatOption TValue="string" Value="@(null)"></MatOption>
                                    @if (Satuans.Count() > 0)
                                            {
                                                foreach (var item in Satuans)
                                                {
                                            <MatOption TValue="string" Value="@(item.SatuanID)">@item.Name</MatOption>
                                                }
                                            }
                                </MatSelect>
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                                <MatCheckbox @bind-Value="SelectedAsalBahanBaku_00" Label="@asalBahanBaku_00"></MatCheckbox>
                                <MatCheckbox @bind-Value="SelectedAsalBahanBaku_01" Label="@asalBahanBaku_01"></MatCheckbox>
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                                <MatTextField @bind-Value="Model.Nilai" Label="Nilai Rupiah" Type="number" FullWidth="true" />
                                <MatCaption Class="mt-1">
                                    <ValidationMessage For="@(() => Model.Nilai)" />
                                </MatCaption>
                            </div>
                        }
                    </div>
                </EditForm>
            </div>
            @if (!IsHidden)
            {
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                    <MatButton OnClick="CancelClick">Cancel</MatButton>
                    <MatButton Raised="true" OnClick="HandleSubmit">
                        Submit &nbsp;
                        @if (IsLoadingCircle)
                        {
                            <i class="fas fa-spinner fa-spin"></i>
                        }
                    </MatButton>
                </div>
            }
        </div>
    </div>
}
